
#body{
    background-color: rgb(255, 197, 127);
}

#heading{
    font-family: 'Victor Mono', monospace;
    
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size:22px;
  }


#goog{
    color:rgb(231, 242, 255);
    font-size: 42px;
}

.sif{
    height: 180px;
    width:180px;
}

.div1{
    font-family: 'Victor Mono', monospace;
    
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size:22px;
    border-radius: 30px; 
}

.div2{
    font-family: 'Victor Mono', monospace;
     width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size:22px;
    border-radius: 30px; 
}

.div3{
    font-family: 'Victor Mono', monospace;
     width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size:22px;
    border-radius: 30px; 
}

.div4{
    font-family: 'Victor Mono', monospace;
     width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size:22px;
    border-radius: 30px; 
}

.div5{
    font-family: 'Victor Mono', monospace;
    width: 100%;
   margin: 0px;
   box-shadow:5px 5px 5px grey;
   font-size:22px;
   border-radius: 30px;  
}

.div6{
    font-family: 'Victor Mono', monospace;
    width: 100%;
   margin: 0px;
   box-shadow:5px 5px 5px grey;
   font-size:22px;
   border-radius: 30px;  
}

.div7{
    font-family: 'Victor Mono', monospace;
    width: 100%;
   margin: 0px;
   box-shadow:5px 5px 5px grey;
   font-size:22px;
   border-radius: 30px;  
}
.div8{
    font-family: 'Victor Mono', monospace;
    width: 100%;
   margin: 0px;
   box-shadow:5px 5px 5px grey;
   font-size:22px;
   border-radius: 30px;  
}

.div9{
    font-family: 'Victor Mono', monospace;
    width: 100%;
   margin: 0px;
   box-shadow:5px 5px 5px grey;
   font-size:22px;
   border-radius: 30px;  
}

.div10{
    font-family: 'Victor Mono', monospace;
    width: 100%;
   margin: 0px;
   box-shadow:5px 5px 5px grey;
   font-size:22px;
   border-radius: 30px;  
}

.copy_right_footer{
    background-color:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    position:fixed;
    width:100%;
    text-align: center;
    line-height: 2;
    bottom: 0;
   }